@font-face {
    font-family: 'BubbleFont';
    src: url('balonku-regular-webfont.woff2') format('woff2'),
    url('balonku-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}