@import url(../fonts/fonts.css);

/*TODO Make crossbrowser and adaptive somewhen*/

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body {
    background-color: #E3EEFF;
    max-width: 100vw;
    overflow: hidden;
}

.heading {
    text-align: center;
    font-family: "bauhaus_93", serif;
    font-size: 72px;
    color: #4B29B2
}

.page-wrapper {
    max-width: 1440px;
    margin: auto;
}

.content {
    max-height: 720px;
    padding: 0 0 100px 0;
    margin: 24px;
    border: 8px dashed #4B29B2;
    border-radius: 5px;
    box-sizing: border-box;
}

.upload-form__input-container {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.upload-form__file-window {
    width: 550px;
    min-height: 37px;
    border: 6px solid #4B29B2;
    border-radius: 15px;
    background: #F5E6FF;
    margin: 35px 20px 0 0;
    pointer-events: none;
}

.upload-form__filename {
    margin: 0 0 0 15px;
    font-family: "bauhaus_93", serif;
    color: #CEA9FF;
    font-size: 28px;
    letter-spacing: 1px;
    pointer-events: none;
}

.upload-form__image {
    width: 200px;
    height: 163px;
    cursor: pointer;
    transition: opacity 0.18s linear 0s;
    pointer-events: all;
}

.upload-form__image:hover {
    opacity: 0.85;
}

.upload-form__submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto 0;
    padding: 0;
}

.submit-container__title {
    margin: 0 20px 0 0;
    font-family: "bauhaus_93", serif;
    font-size: 34px;
    color: #CEA9FF;
}

.submit-container__formats {
    -moz-appearance: none;     /* Remove default arrow */
    -webkit-appearance: none;
    margin: 0 20px 0 0;
    padding: 0 0 0 5px;
    width: 110px;
    height: 40px;
    border: 6px solid #4B29B2;
    border-radius: 10px;
    border-right: 0;
    box-sizing: border-box;
    background-color: #EBD2FF;
    background-image: url("../images/dropdown-arrow.svg");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: right;
    font-family: "bauhaus_93", serif;
    color: #CEA9FF;
    font-size: 28px;
    cursor: pointer;
    outline-style: none;
}

.upload-form__submit-button {
    width: 195px;
    height: 60px;
    padding: 0;
    border: none;
    background-image: url("../images/convert-button.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 13px;
    font-family: "bauhaus_93", serif;
    font-size: 34px;
    color: #E8D2FF;
    transition: opacity 0.18s linear 0s;
    cursor: pointer;
    outline-style: none;
}

.upload-form__submit-button:hover {
    opacity: 0.85;
}

/* Hiding of default input ugly form :P */
#upload-form__input {
    display: none;
}

.status {
    display: none;
    text-align: center;
    margin: 20px auto;
    font-family: "bauhaus_93", serif;
    font-size: 34px;
    color: #ac5aff;
}

.download-container {
    margin: 70px 0 0 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.download-container_animation {
    animation-duration: 3s;
    animation-name: slidein, fadein;
}

.download-container__title {
    width: 600px;
    margin: 0 50px 0 0;
}

.download-container__image {
    width: 130px;
    height: 130px;
    transition: opacity 0.18s linear 0s;
}

.download-container__image:hover {
    opacity: 0.85;
}